<%= form_with(model: material, local: true) do |form| %>
  <% if material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(material.errors.count, "error") %> prohibited this material from being saved:</h2>

      <ul>
      <% material.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :team_id, value: current_user.team.id %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit %>
  </div>

  <div class="field">
    <%= form.label :rate, "Rate per unit" %>
    <%= form.text_field :current_rate %>
    <%= material.currency %>
  </div>

  <div class="field">
    <%= form.label :tons_per_m3, "Tons per m³" %>
    <%= form.text_field :tons_per_m3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
