<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @material.quantity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @material.unit %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
