<!DOCTYPE html>
<html>
  <head>
    <title>Track Book</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="flash notice"><%= notice %></p>
      <p class="flash alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
